@font-face{
  font-family: 'Raleway', 'Arial', sans-serif;
  src:  url('../fonts/Raleway-Regular') format('.ttf');
  font-weight: normal;
}

@font-face{
  font-family: 'Raleway', 'Arial', sans-serif;
  src:  url('../fonts/Raleway-Bold') format('.ttf');
  font-weight: bold;
}

html, body{
  .setColorStyle(white);
  .setTextStyle();
  background-size: cover;
}
 body{
   min-width: @mobile-width;
 }
