/*-------------START - HEAD--------------*/
header{
  .setFlex();
  .setColorStyle(black);
  justify-content: space-between;
  padding: 10px;
  .intro{
    .setPaddingLR(15px);
    h1{
      color: white;
      .setTextSize(@size: @desktop-font-size-h; @height: @desktop-line-height-h; @weight: 300);
      margin: 10px 0px;
      padding: 5px;
      text-transform: uppercase;
      text-align: left;
    }
    p{
      color: #f8f8f8;
      .setTextSize(@size: @desktop-font-size-p; @height:  @desktop-line-height; @weight: 500);
      margin: 0;
      padding: 5px;
      text-align: left;
    }
  }
  .btn_check{
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 22px;
    transition: .3s;
    text-align: center;
    background-color: @base-text-color;
    color: @base-background-color;
    border: 3px dashed transparent;
      &:hover {
        border: 3px dashed #cccccc;
        color: @base-text-color;
        background-color: @base-background-color;
      }
    }
}

/*-------------END - HEAD--------------*/
