/*-------------START - HEAD--------------*/
header{
  .setFlex();
  flex-direction: column;
  align-items: center;
  h1{
    color: white;
    .setTextSize(@size: 54px; @height: 58px; @weight: 300);
    margin: 50px 0px 40px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
  }
  p{
    color: #f8f8f8;
    .setTextSize(@size: 16px; @height: 26px; @weight: 500);
    margin: 0;
    padding: 5px;
    text-align: left;
  }
}

/*-------------END - HEAD--------------*/
