/*-------------START - MAIN--------------*/
main{
  .setFlex();
  flex-wrap: wrap;
  .frame{
    &_edit,&_visual{
      .label_info {
        display: inline-block;
        padding: 2px 4px;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        color: #fff;
        white-space: nowrap;
        position: absolute;
        z-index: 500;
        right: 22px;
        margin: 5px;
        background-color: @base-text-color;
        &_result{right: 32%;}
        &_pattern{right: 0.5%;}
      }
    }
    &_edit{
        .setFlex(@align-items: flex-start;);
        flex-grow: 2;
        position: relative;
        min-height: 360px;
        #editor{
          .zero-centered();
        }
      }
    &_visual{
         .setFlex(@align-items: flex-start;);
         flex-grow: 1;
         iframe{
           min-height: 360px;
           width: 50%;
           background-color: white;
         }
    }
  }
  .task{
    width: 100%;
    flex-grow: 2;
    padding: 10px 25px;
    .setColorStyle(white);
    h2{
        .setTextSize(@size: @desktop-font-size-p; @height: @desktop-font-size-p; @weight: 100);
        margin: 10px 0px;
        padding: 5px 0px;
      }
    .btn,label{
          min-width: 120px;
          cursor: pointer;
          border-radius: 5px;
          text-decoration: none;
          padding: 5px;
          margin: 5px 0px;
          font-size: @desktop-font-size-p;
          transition: .3s;
          text-align: center;
          background-color: #adb7bd;
          color: @base-background-color;
          border: 3px dashed transparent;
            &:hover {
              color: @base-text-color;
              background-color: @base-background-color;
            }
      }
    #result{
      display: inline-block;
      white-space: nowrap;
      background-color: #ee5f5b;//#62c462;
      border-radius: 50%;
      padding: 8px 5px;
      margin: 5px 0px;
      font-size: 15;
      color: #fff;
      text-align: center;
      box-sizing: border-box;
      width: 38px;
    }
    #theory_article{
        display: none;
        z-index: 5000;
        .zero-centered();
        top: 10%;
        bottom: 10%;
        position: fixed;
        width: 70%;
        min-height: 300px;
        overflow: auto;
        box-sizing: border-box;
        padding: 20px 30px;
        border-radius: 5px;
        box-shadow: 0 2px 5px #999;
        background-color: white;
        code,pre{
          background-color:rgba(173, 183, 189,0.1);
        }
        .close-theory{
          position: fixed;
          right: 17%;
          cursor: pointer;
          font-size: 40px;
          font-weight: bold;
          line-height: 20px;
          color: #000;
          text-shadow: 0 1px 0 #fff;
          opacity: .2;
        }
    }
    .overlay{
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1900;
      background: rgba(0,0,0,0.2);
    }
  }
}
/*-------------END - MAIN--------------*/
