/*-------------START - MAIN--------------*/
main{
  .setFlex();
.init_data{
  width: 20%;
}
.frame{
    &_edit,&_visual{
      .setFlex();
      flex-direction: column;
    }
    &_edit{
      #editor {
        min-height: 300px;
        box-sizing: border-box;
        width: 480px;
      }
    }
    &_visual{
      width: 100%;
      iframe{
      height: 100%;
      background-color: white;
      }
    }
  }

}
/*-------------END - MAIN--------------*/
